on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Release
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: simple

      - name: Checkout
        uses: actions/checkout@v4
        if: ${{ steps.release.outputs.releases_created }}

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: '1.2.17'
        if: ${{ steps.release.outputs.releases_created }}

      - name: CI
        run: bun install --no-save --check-files
        if: ${{ steps.release.outputs.releases_created }}

      - name: Build
        run: bun run build
        if: ${{ steps.release.outputs.releases_created }}

      - name: Publish
        run: bun run publish
        if: ${{ steps.release.outputs.releases_created }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
