name: Release

on:
  workflow_dispatch:

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: '1.3.0'

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Set RELEASING variable
        run: echo "RELEASING=true" >> $GITHUB_ENV

      - name: Build
        run: bun run build

      - name: Publish altertable-js
        run: |
          cd packages/altertable-js
          bun publish --access public

      - name: Publish altertable-react
        run: |
          cd packages/altertable-react
          bun publish --access public
